<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="server.My.MySettings.DatabaseRegConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseReg.mdb;Jet OLEDB:Database Password=123"
            providerName="System.Data.OleDb" />
        <add name="server.My.MySettings.DatabaseMessengesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseMessenges1.mdb;Persist Security Info=True;Jet OLEDB:Database Password=123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>